<header>
  <span class="img-cover"></span>
  <span class="img-filter"></span>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-6">
        <a href="/"><span class="sr-only">Home (current)</span>
          <img class="img-responsive brand pull-left" src="/static/img/brand.png">
        </a>
        <span class="navbar-default">
        <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        </span>
      </div>
      <div class="col-md-6 col-sm-8 col-xs-12">
        <nav class="navbar navbar-default">

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right text-center">
              <li class="hidden-sm hidden-md hidden-lg"><a href="/">OPEN Home</a></li>
              <li class="hidden-sm hidden-md hidden-lg"><a href="/organisations">Organisations</a></li>
              <li class="hidden-sm hidden-md hidden-lg"><a href="/about">About OPEN</a></li>
              <li class="hidden-sm hidden-md hidden-lg"><a href="/contact">Contact</a></li>
              <li class="hidden-xs dropdown">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                  More
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/organisations">Organisations</a></li>
                  <li><a href="/about">About OPEN</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </li>
              <li><a class="btn btn-info" href="#" data-toggle="modal" data-target="#myModal">Get in touch</a></li>
            </ul>

          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
