<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <form action="//the-open.us8.list-manage.com/subscribe/post?u=753395b9f963c9ea2d6980b7c&amp;id=9e1559c2f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Join us!</h4>
      </div>
      <div class="modal-body">
        <div id="mc_embed_signup">
          <div id="mc_embed_signup_scroll">
        		<div class="row">
        		  <div class="col-xs-12">
        				<label for="mce-EMAIL" class="sr-only">Email Address</label>
        				<input placeholder="email address" type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
        		  </div>
        		</div>
        		<div class="row">
        		  <div class="col-xs-6">
        				<label for="mce-FNAME" class="sr-only">Given / First Name </label>
        				<input placeholder="given / first name" type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
        		  </div>
        		  <div class="col-xs-6">
        				<label for="mce-LNAME" class="sr-only">Family / Last Name </label>
        				<input placeholder="family / last name" type="text" value="" name="LNAME" class="form-control" id="mce-LNAME">
        			</div>
        		</div>
            <div class="row">
              <div class="col-xs-6">
        	      <label for="mce-ORG" class="sr-only">Organization</label>
        	      <input placeholder="organization" type="text" value="" name="ORG" class="form-control" id="mce-ORG">
              </div>
              <div class="col-xs-6">
        	      <label for="mce-COUNTRY" class="sr-only">Country </label>
        	      <input placeholder="country" type="text" value="" name="COUNTRY" class="form-control" id="mce-COUNTRY">
              </div>
            </div>
          	<div id="mce-responses" class="clear">
          		<div class="response" id="mce-error-response" style="display:none"></div>
          		<div class="response" id="mce-success-response" style="display:none"></div>
          	</div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_753395b9f963c9ea2d6980b7c_9e1559c2f0" tabindex="-1" value=""></div>
          </div>
        </div>
      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <input type="button" class="btn btn-default" data-dismiss="modal" value="Close" />
        <input type="submit" value="Join us!" name="subscribe" id="mc-embedded-subscribe" class="button btn-info btn" />
      </div>
    </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
