<div class="col-sm-12 col-md-6">
  <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/michaelsnook/lists/open-network" data-widget-id="661531868307689472"
  data-chrome="noheader nofooter "></a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
  if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
