{% extends 'sidebar.html' %}
{% block inner %}

{% if content.theory and not content.theory.hidden %}
<hr>
{% with %}
  {% set block = content.theory %}
  <h2 id="{{ block.name }}">
    {{ block.title }}
  </h2>
  {{ block.contents|safe }}
{% endwith %}
{% endif %}

{% if content.four_strands and not content.four_strands.hidden %}
<hr>
{% with %}
  {% set block = content.four_strands %}
  <h2 id="{{ block.name }}">
    {{ block.title }}
  </h2>
  {{ block.contents|safe }}
{% endwith %}
{% endif %}

<div class="row">
  <div class="col-md-6">
    {% if content.strands_connect and not content.strands_connect.hidden %}
    <h3 id="connect">{{ content.strands_connect.title }}</h4>
    <p><img src="/static/img/4-connect.png" class="pull-left four-strands" />{{ content.strands_connect.contents }} </p>
    {% endif %}
  </div>
  <div class="col-md-6">
    {% if content.strands_coordinate and not content.strands_coordinate.hidden %}
    <h3 id="coordinate">{{ content.strands_coordinate.title }}</h4>
    <p><img src="/static/img/4-coordinate.png" class="pull-left four-strands" />{{ content.strands_coordinate.contents|safe }}</p>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    {% if content.strands_connect and not content.strands_connect.hidden %}
    <img src="{{ content.strands_connect.image }}" class="img-responsive" />
    {% endif %}
  </div>
  <div class="col-md-6">
    {% if content.strands_coordinate and not content.strands_coordinate.hidden %}
    <img src="{{ content.strands_coordinate.image }}" class="img-responsive" />
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    {% if content.strands_enhance and not content.strands_enhance.hidden %}
    <h3 id="enhance">{{ content.strands_enhance.title }}</h4>
    <p><img src="/static/img/4-enhance.png" class="pull-left four-strands" />{{ content.strands_enhance.contents|safe }}</p>
    {% endif %}
  </div>
  <div class="col-md-6">
    {% if content.strands_grow and not content.strands_grow.hidden %}
    <h3 id="grow">{{ content.strands_grow.title }}</h4>
    <p><img src="/static/img/4-grow.png" class="pull-left four-strands" />{{ content.strands_grow.contents|safe }}</p>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    {% if content.strands_enhance and not content.strands_enhance.hidden %}
    <img src="{{ content.strands_enhance.image }}" class="img-responsive" />
    {% endif %}
  </div>
  <div class="col-md-6">
    {% if content.strands_grow and not content.strands_grow.hidden %}
    <img src="{{ content.strands_grow.image }}" class="img-responsive" />
    {% endif %}
  </div>
</div>
  <hr>
  <h2>Our Team</h2>
  {% for person in staff %}
  <h3>{{ person.name }} <span class="small">{{ person.location }}</span></h3>
  <p class="aside"><em>{{ person.title }}, {{ person.email }}</em></p>
  <p>{{ person.description|safe }}<p>
  {% endfor %}
{% endblock %}
