{% extends 'sidebar.html' %}
{% block inner %}
<a name="about"></a>
<h2>Founding Organisations</h2>
<p>The the OPEN Network was founded in 2013, the five organisations who came together to create this network have been around for years longer, with the first group founding in 1998, and others coming along in 2003, 2006, 2009, and 2011. OPEN&rsquo;s founding organisations now represent 1 out of every 15 voters in their respective countries.</p>
{% if orgs %}
{% for org in orgs %}
  {% if org.category == 'core' %}
    {% include 'partials/orgblurb.html' %}
  {% endif %}
{% endfor %}
{% endif %}

{% if 0 %}
<h2>Full Members</h2>
<p>Organisations that are established along the same guiding principals as OPEN&rsquo;s founding organisations, which reach a certain threshold of membership size, organisational maturity and financial stability, can be considered for full membership, and are admitted based on a vote of our Core Group, which is made up of representatives from the other member organisations.</p>
{% if orgs %}
{% for org in orgs %}
  {% if org.category == 'full' %}
    {% include 'partials/orgblurb.html' %}
  {% endif %}
{% endfor %}
{% endif %}
{% endif %}

<hr>
<h2>Startup Organisations</h2>
<p>Startups are groups that have just recently launched and typically have only a few full-time staff, or a team working part-time to get the organisation off the ground. They benefit from many of the same programs as full members, and get additional coaching on organisational development from OPEN staff and other leaders around the Network.</p>

{% if orgs %}
{% for org in orgs %}
  {% if org.category == 'startup' %}
    {% include 'partials/orgblurb.html' %}
  {% endif %}
{% endfor %}
{% endif %}

{% if 0 %}
<hr>
<h2>Pre-Launch Organisations</h2>
<p>Pre-Launch Organisations are groups we&rsquo;re working with to help them get started. A successful launch means having a team with executive leadership, a plan for how this organisation will make an impact, a legal entity, fundraising capabilities, and the technology and tools needed to organise. Groups on this list are either coming soon, or have just launched, and are awaiting recognition from the Core Group to move into the &ldquo;Startup&rdquo; cohort.</p>
{% if orgs %}
{% for org in orgs %}
  {% if org.category == 'prelaunch' %}
    {% include 'partials/orgblurb.html' %}
  {% endif %}
{% endfor %}
{% endif %}
{% endif %}

{% if content.defining_an_open_org %}
  <hr>
  <h2 id="{{ content.defining_an_open_org.name }}">
    {{ content.defining_an_open_org.title }}
  </h2>
  {{ content.defining_an_open_org.contents|safe }}
{% endif %}

<hr>
<a name="feed"></a>
<h2>What They&rsquo;re Doing Now</h2>
<div class="row">
  <div class="col-md-6">
    <div class="fb-page" data-href="https://www.facebook.com/progressiveengegement/"
      data-width="540"
      data-tabs="timeline"
      data-small-header="true"
      data-adapt-container-width="true"
      data-hide-cover="true"
      data-show-facepile="false">
      <div class="fb-xfbml-parse-ignore">
        <blockquote cite="https://www.facebook.com/progressiveengegement/">
          <a href="https://www.facebook.com/progressiveengegement/">The OPEN</a>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="tw-feed">
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/michaelsnook/lists/open-network" data-widget-id="661531868307689472">Tweets from https://twitter.com/michaelsnook/lists/open-network</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>
<!-- hr>
<a name="features"></a>
<h2>Feature Stories</h2-->
{% endblock %}
