{% extends 'sidebar.html' %}
{% block inner %}
<a name="about"></a>
<h2>Founding Organisations</h2>
<p>The the OPEN Network was founded in 2013, the five organisations who came together to create this network have been around for years longer, with the first group founding in 1998, and others coming along in 2003, 2006, 2009, and 2011. OPEN&rsquo;s founding organisations now represent 1 out of every 15 voters in their respective countries.</p>
{% if orgs %}
{% for org in orgs %}
  {% if org.category == 'core' %}
    {% include 'partials/orgblurb.html' %}
  {% endif %}
{% endfor %}
{% endif %}

{% if 0 %}
<h2>Full Members</h2>
<p>Organisations that are established along the same guiding principals as OPEN&rsquo;s founding organisations, which reach a certain threshold of membership size, organisational maturity and financial stability, can be considered for full membership, and are admitted based on a vote of our Core Group, which is made up of representatives from the other member organisations.</p>
{% if orgs %}
{% for org in orgs %}
  {% if org.category == 'full' %}
    {% include 'partials/orgblurb.html' %}
  {% endif %}
{% endfor %}
{% endif %}
{% endif %}

<hr>
<h2>Startup Organisations</h2>
<p>Startups are groups that have just recently launched and typically have only a few full-time staff, or a team working part-time to get the organisation off the ground. They benefit from many of the same programs as full members, and get additional coaching on organisational development from OPEN staff and other leaders around the Network.</p>

{% if orgs %}
{% for org in orgs %}
  {% if org.category == 'startup' %}
    {% include 'partials/orgblurb.html' %}
  {% endif %}
{% endfor %}
{% endif %}

{% if 0 %}
<hr>
<h2>Pre-Launch Organisations</h2>
<p>Pre-Launch Organisations are groups we&rsquo;re working with to help them get started. A successful launch means having a team with executive leadership, a plan for how this organisation will make an impact, a legal entity, fundraising capabilities, and the technology and tools needed to organise. Groups on this list are either coming soon, or have just launched, and are awaiting recognition from the Core Group to move into the &ldquo;Startup&rdquo; cohort.</p>
{% if orgs %}
{% for org in orgs %}
  {% if org.category == 'prelaunch' %}
    {% include 'partials/orgblurb.html' %}
  {% endif %}
{% endfor %}
{% endif %}
{% endif %}

<hr>
<h2>Defining an OPEN Organisation</h2>
<p>Each OPEN organization is completely autonomous and adapts methodology to match the unique context. However, all OPEN groups share eight common ways of working: a common DNA that allows them to work as a coherent and productive network.</p>
<h3>Progressive</h3>
<p>OPEN members move society towards greater economic and social equality, environmental sustainability, peaceful coexistence, and democratic freedom. OPEN groups do not demand adherence from all members on all points. They weave a values-coherent community through many different topical campaign opportunities, allowing campaigns to cross-pollinate organically.
<h3>People-Powered</h3>
<p>OPEN pursues an outside power theory of change, which primarily relies on the collective force of large-scale citizen participation to move public and private sector decision-makers towards just outcomes. This is distinguished from an inside access theory of change, which relies on a special set of inside actors to win change through elite channels. Both theories have their place, but the network chooses to prioritize the former because it is more durable over time, and it more closely matches OPEN’s values regarding power distribution in a democracy.
<h3>Member-Led</h3>
<p> OPEN organization’s agendas are set by the members themselves. Organisations achieve this though rigorous testing, response benchmarks, polling, voting, and anecdotal inputs. Member participation and the cultivation of a strong member experience generate the level of affinity and participation necessary. Many groups also equip members to start and run their own campaigns, and then assign organization resources to promote those campaigns.</p>
<h3>Multi-Issue</h3>
<p> People and nations, unlike most organisations, focus on and care about many different issues based on their set of values. While people choose some issues as the most important, the daily news presents them with a range of topics that will inflame their support or ire. The energy produced in response is what OPEN organisations engage in order to grow and to create change wherever change is most urgent and possible. OPEN organisations bring a surge of power to single-issue campaigns when it matters most.</p>
<h3>Nimble</h3>
<p>When news stories, upcoming legislative decisions, or other events make action urgent, OPEN groups give their members a means to take immediate action. Groups must be decisive and act quickly. OPEN’s member organisations therefore operate in a low-bureaucracy, highempowerment management model.</p>
<h3>Full-Spectrum</h3>
<p> Full-spectrum campaigning allows members to put all of their assets to work for the social and political change they believe in. These include opinions, talents, social networks, specific knowledge, votes, and material resources, including money. OPEN organisations use digital means such as email, web platforms, social media, and SMS to present information and engagement opportunities. However, their tactics frequently draw people into offline action.</p>
<h3>Independent</h3>
<p> OPEN groups remain fiercely independent from any political party. Praise or criticism, support or opposition, are granted purely on the basis of issue performance. This independence also means that OPEN organisations must ultimately be financially beholden only to the members themselves through small individual contributions. All five founding OPEN organisations achieved this mark within 3.5 years of launch.</p>
<h3>Digital</h3>
<p> OPEN organisations communicate and organize digitally because digital technology allows for accessible, scalable, and rapid engagement. They prioritize investing in the best possible platforms and innovation. At the same time, each new tool is evaluated from the perspective of strategic utility and accessibility to individual members, who are generally not early adopters. </p>

<hr>
<a name="feed"></a>
<h2>What They&rsquo;re Doing Now</h2>
<div class="row">
  <div class="col-md-6">
    <div class="fb-page" data-href="https://www.facebook.com/progressiveengegement/"
      data-width="540"
      data-tabs="timeline"
      data-small-header="true"
      data-adapt-container-width="true"
      data-hide-cover="true"
      data-show-facepile="false">
      <div class="fb-xfbml-parse-ignore">
        <blockquote cite="https://www.facebook.com/progressiveengegement/">
          <a href="https://www.facebook.com/progressiveengegement/">The OPEN</a>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="tw-feed">
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/michaelsnook/lists/open-network" data-widget-id="661531868307689472">Tweets from https://twitter.com/michaelsnook/lists/open-network</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>
<!-- hr>
<a name="features"></a>
<h2>Feature Stories</h2-->
{% endblock %}
